    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= logo %>
          <ul class="nav">
            <li><%= link_to "Корпорации", corporations_path %></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Отчеты</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Абоненты", abonents_path %></li>
                <li><%= link_to "Пополнение Корпорации", new_corporation_payment_path %></li>
                <li><%= link_to "Взаиморасчеты Корпораций", corporation_saldos_path %></li>
                <li><%= link_to "Взаиморасчеты Абонентов", abonent_saldos_path %></li>
              </ul>
            </li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Тарифы</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Тарифы для Абонентов", abonent_tarifs_path %></li>
                <li><%= link_to "Тарифы для Корпораций", rate_corpos_path %></li>
              </ul>
            </li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Помощь</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Заявки в Тех.службу", helps_path %></li>
                <li><%= link_to "Инструкция", instruction_path %></li>
              </ul>
            </li>

            <li><a href="#contact">Contact</a></li>
            <li><%= link_to " Выйти", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
