<!DOCTYPE html>
<html>
<head>
  <title>Corpo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= show_topbar %>
  <div class="container">

      <div class="content">
        <%= show_header %>
        <div class="row">
            <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
